# Data Cleaning
Series: GEPAYGAP			

Name: Gender monthly wages gap																	

Definition: Monthly wages of women divided by the monthly wages of men

Source: International Labour Organization (ILO); Economist Intelligence Unit (EIU) calculation

In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("GEPAYGAP.csv")
print(df.shape)  # 91 countries, 18 years
df.head()

(91, 18)

,ISO,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,ARG,NaN,0.728161,0.746303,0.732799,0.760140,0.744977,0.746796,0.691323,0.682717,0.675961,0.692446,0.716376,0.681613,0.717364,0.769285,0.767844,NaN
1,ARM,NaN,NaN,NaN,NaN,NaN,0.519036,0.457770,0.406856,0.421224,0.534421,0.575120,0.592257,0.600205,0.582342,0.608425,0.640597,NaN
2,AUS,0.655935,0.657814,0.662401,0.655706,0.656263,0.662967,0.664777,0.652256,0.646554,0.655721,0.653322,0.650636,0.651101,0.649772,0.648822,0.648474,0.646326
3,AUT,NaN,NaN,0.599691,0.591357,0.592957,0.587067,0.595235,0.600972,0.602649,0.602383,0.604754,0.602605,0.598679,0.599764,0.613073,0.617181,NaN
4,AZE,NaN,NaN,NaN,NaN,0.444444,0.457627,0.416667,0.428571,0.446602,0.442748,0.462963,0.473958,0.505415,0.568392,NaN,0.548403,NaN

In [4]:
col_nulls = df.isna().sum()
# print(col_nulls.sort_values())
## pick a year with low amonut of nans

In [16]:
# get 2010 data only
df_2010 = df[['ISO', '2010']].copy()
print(df_2010.shape)

(91, 2)

In [17]:
df_2010.head()

   ISO      2010
0  ARG  0.767844
1  ARM  0.640597
2  AUS  0.648474
3  AUT  0.617181
4  AZE  0.548403

In [18]:
df_2010.dropna(inplace=True)
print(df_2010.shape)

(57, 2)

In [20]:
df_2010.columns = ['ISO', 'gender_pay_gap_2010']
df_2010.columns

Index(['ISO', 'gender_pay_gap_2010'], dtype='object')

In [21]:
df_2010.to_csv("gender_pay_gap_2010.csv", index=False)