# Donut chart Data Cleaning
Series: GEPAYGAP			

Name: Gender monthly wages gap																	

Definition: Monthly wages of women divided by the monthly wages of men

Source: International Labour Organization (ILO); Economist Intelligence Unit (EIU) calculation

In [4]:
import pandas as pd 
import numpy as np
import csv 
import json
import os

In [21]:
# df = pd.read_csv("GEPAYGAP.csv")
# df = pd.read_csv("d3layout_data/GRSCFETL.csv") # Share of science graduates at tertiary level, female

# TEDSCNFE = "Enrollment in tertiary education, science, female",Number
# TEDSCNMA = "Enrollment in tertiary education, science, male"
path = "/Users/ericaxia/Downloads/Github/project-girlboss/data/noceilings-data-master/csv"
os.chdir(path)
df_f = pd.read_csv("TEDSCNFE.csv")
df_m = pd.read_csv("TEDSCNMA.csv")


print(df_f.shape, df_m.shape)
df_f.head()

dfs = [df_f, df_m]

(145, 17) (145, 17)

In [9]:
df = df_f.copy()
col_nulls = df.isna().sum()
print(col_nulls.sort_values()[0:10])
## pick a year with low amonut of nans
## year = 2011

ISO      0
2011    61
2010    64
2008    65
2009    68
2004    79
2007    80
2005    82
2006    83
2003    86
dtype: int64

In [25]:

os.chdir("/Users/ericaxia/Downloads/Github/dsci554/554_Project_Code/Project/")

## Map ISO -> Country name for better understandability in graph
with open('d3layout_data/iso_to_country_names.csv', mode='r') as infile:
    reader = csv.reader(infile)
    country_names = {rows[0]: rows[1] for rows in reader}
    country_names_dict = { v: k for k, v in country_names.items()}

def convert_iso_to_name(iso):
    if iso in country_names_dict:
        return country_names_dict[iso]
    else:
        return iso

In [46]:
# Get data for one year only
year = 2011
df_years = []

for data in dfs:
    # print(data.shape)
    df_year = data[['ISO', f'{year}']].copy()
    df_year.dropna(inplace=True)
    df_year.columns = ['name', 'value']
    df_year['name'] = df_year['name'].apply(lambda x: convert_iso_to_name(x))
    print(df_year.shape)
    # df_year.head()
    # df_year.sort_values(by='value')
    df_years.append(df_year)

(84, 2)
(84, 2)

# Export data

In [49]:
df_fem = df_years[0]
country = 'United States'
df_fem = df_fem[df_fem['name'] == country]
df_fem['label'] = 'Female'
# df_fem.head()

df_m = df_years[1]
# country = 'United States'
df_m = df_m[df_m['name'] == country]
df_m['label'] = 'Male'
# df_m.head()

print(df_fem.shape, df_m.shape)

(1, 3) (1, 3)

/var/folders/mm/jp6_fd4x0g126l5m3dfnk4k80000gn/T/ipykernel_32437/3493758752.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fem['label'] = 'Female'
/var/folders/mm/jp6_fd4x0g126l5m3dfnk4k80000gn/T/ipykernel_32437/3493758752.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['label'] = 'Male'

In [51]:
res = pd.concat([df_fem, df_m])
res.to_csv("d3layout_data/fem_to_male_enrollment_USA.csv", index=False)

In [11]:
# df_year.to_csv("gender_pay_gap_year.csv", index=False)

##  Share of science graduates at tertiary level, female
# df_year.to_csv("d3layout_data/share_science_graduates_fem_year.csv", index=False)

In [ ]:
# TEST - look at one country and one year
## Female v Male enrollment

## For exmaple,
""" 
name,value 
female, 20%
male, 35%
 """